.DS_Store
.venv/
__pycache__/
build*/
cmake-build-*/
.dsh/
DerivedData/
xcuserdata/
*.xcuserstate
*.mydaw/
*.wav
*.aiff
*.caf
*.dSYM/
*.mydawdraft
*.mydawzip
*.mydawtmp
*.log
.env
.env.*
!.env.example
